
/* EB Garamond. */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Cormorant Garamond. */
@font-face {
    font-family: "Cormorant Garamond";
    src: url("../assets/fonts/CormorantGaramond-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../assets/fonts/CormorantGaramond-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../assets/fonts/CormorantGaramond-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../assets/fonts/CormorantGaramond-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

/* QT Caslan Open. */
@font-face {
    font-family: QTCaslanOpen;
    src: url("../assets/fonts/QTCaslanOpen.otf") format("opentype");
}
