
@import "fonts.css";
@import "header.css";
@import "flex.css";
@import "research.css";
@import "contact.css";
@import "teaching.css";
@import "blog.css";

body {
    background-color: white;
    color: black;
    font-family: "Cormorant Garamond";     /* This font is awesome. */
    font-size: 110%;

    overflow-y: scroll;             /* Ignore the width of the scrollbar. */
}

code {
    font-size: 0.9em;
    background-color: #E8E8E8;
    padding: 1pt 2pt;
}

#wrapper {
    margin: 5vh auto;
    max-width: 550px;
    min-width: 400px;
}

#content {
    display: flex;
    padding: 2em 0;
    flex-direction: column;
    margin: auto;
    text-align: justify;
    word-spacing: -1px;

    visibility: hidden;
}

a, a:link, a:active, a:visited {
    color: #00693E; /* Dartmouth Green */
}

a:hover {
    text-decoration: underline;
}

#hparent {
    background-color: white;
    margin: auto;
}

#intro {
    gap: 3em;
}

.animate {
    animation: fadeIn 1s;
}

.title {
    font-size: 2.5em;
    font-weight: 400;
    width: 100%;
}

img {
    height: auto;
    display: block;
    align-self: center;
    border-radius: 5px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
